h1{
    padding: 20px;
    text-align: center;
    background-color: #FFCCFF;
    color: black;
}
body{
    font-family:cursive;
}
div{
    background-color:#FFCCFF;
    padding: 20px;
    margin: auto;
    width: 300px;
    height: 250px;
    border: 2px solid blueviolet ;
    text-align: center;
    
}
p{
    padding: 10px;
    font-family:cursive;
    border: 2px dashed lightblue;
}
button{
    text-decoration: none;
    border: none;
    padding: 10px 30px;
    font-family:cursive;
    background-color:#CCFF99;
    color: black;
    border-radius: 5px;
}
